.cardContainerMaster{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77.6vh;
    width: 100vw;
}
.containerImage {
    max-width: 752px;
    min-height:  55.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.buttomContainerImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.labelContainerImage{
    margin-bottom: 15%;
    width: 90%;
    height: 5vh;
    input::file-selector-button {
        padding: .2em .4em;
        border-radius: .5em;
        background: rgba(208, 206, 206, 0.71);
        transition: 1s;
        width: 30%;
      }
}
.titleContainerImage{
    margin-bottom: 10%;
    max-width: 441px;
    vertical-align: top;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
}
.buttom{
    width: 252px;
    height: 50px;
}
.textContainerImage{
    width: 100%;
    height: 50px;
    align-items: flex-start;
    margin-top: 1%;
}
.nameImageContainer{
    margin-bottom: 5%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
}
